# MarkDown template
<details>
  <summary>Example</summary>

```cs
void main()
{
	Console.WriteLine("Hello World");
}
```
</details>